.block {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block-img {
    width: 477px;
    height: 636px;
}

.block-2 {
    margin-left: 20px;
    width: 470px;
    background-color: #2E251C;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.block-2-h {
    padding-top: 20px;
}

.block-2-h h1 {
    font-size: 30px;
    padding-top: 5px;
    font-weight: 470;
}

.block-2 p{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 420;
}

