
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../become_styles/become_block2.jpg);
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

.block2 {
    min-height: 550px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2-content {
    text-align: left;
    margin: 3rem 2rem;
    border-radius: 15px;
    background-color: white;
    padding: 20px 0px;
}

.block2-content-text {
    padding: 20px;
}

.block2-content-text h1{
    padding-top: 10px;
    font-weight: 650;
    font-size: 30px;
}

.block2-content-text p{
    font-size: 18px;
    padding-top: 25px;
    font-weight: 300;
}

.container {
    background-color: #fff;
}