.nav {
    box-shadow: 0 0 16px var(--color-gray);
    position: sticky;
    top: 0px;
    background-color: var(--color-light);
    z-index: 100;
    max-width: 100%;
  }
  
  .nav-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }
  
  .nav-logo {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    /* margin-left: 6px; */

  }
  
  .nav-cabinet {
    display: flex;
  }
  
  .nav-element {
    margin: auto 0.7rem;
  }

.nav-buttons button{
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  margin: 0px 7px 0px 7px;
}
.nav-button-red {
  background-color: var(--color-main); 
  border: none;
  color: white;
}

.nav-button-red:hover {
  background-color: #6d1d1d;
  color: white;
}

.nav-button-gray {
  background-color: var(--color-lightergray); 
  color: var(--color-darkergray);
}